.grid{
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    margin: 0 auto;
    max-width: 1240px;}


    @media screen and (max-width: 920px) {
        .grid {
            grid-template-columns: repeat(5 , 1fr);
        }
    }

    @media screen and (max-width: 480px) {
        .grid {
            grid-template-columns: repeat(3 , 1fr);
        }
    }